<!-- Footer -->
<footer class="page-footer font-small mt-4 bgColor">
  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">2020 - Création Open Source <i class="fab fa-github"></i> - By <a href="https://www.linkedin.com/in/lcocquyt/"><i class="fab fa-linkedin"></i></a>
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->