<!-- Footer -->
<footer class="page-footer font-small mt-4 bgColor">
  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">Open Source:
    <a href="https://www.linkedin.com/in/lcocquyt/"> Développé par Ludovic <i class="fab fa-linkedin"></i></a>
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->