<!-- Footer -->
<footer class="page-footer font-small mt-4" style="background-color: #0862f1;">
  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">© 2020 Copyright:
    <a href="https://www.linkedin.com/in/lcocquyt/"> Développé par Ludovic <i class="fab fa-linkedin"></i></a>
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->