<div id="maps" class="row">
	<div class="row pt-4 pb-4 mapsAlign">
		<!--Google map-->
		<div class="col-md-8" id="map-container-google-1">
            {% for StaticContent in StaticContents|slice(6, 1) %}
                    {% if StaticContent.content %}
                        <iframe src="{{ StaticContent.content }}" width="550" height="300" frameborder="0" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
                    {% endif %}
            {% endfor %}
		<!--Google Maps-->
		</div>

	    <!--Grid column-->
        <div class="col-md-4 text-center">
            <ul class="list-unstyled mb-0">
                {% for StaticContent in StaticContents|slice(3, 1) %}
                    {% if StaticContent.content %}
                    <li>
                        <i class="fas fa-map-marker-alt fa-2x"></i>
                        <p class="smallFont info">{{ StaticContent.content }}</p>
                    </li>
                    {% endif %}
                {% endfor %}

                {% for StaticContent in StaticContents|slice(4, 1) %}
                    {% if StaticContent.content %}
                        <li>
                            <i class="fas fa-phone mt-4 fa-2x"></i>
                            <p class="smallFont info">{{ StaticContent.content }}</p>
                        </li>
                    {% endif %}
                {% endfor %}

                {% for StaticContent in StaticContents|slice(5, 1) %}
                    {% if StaticContent.content %}
                        <li>
                            <i class="fas fa-envelope mt-4 fa-2x"></i>
                            <p class="smallFont info">{{ StaticContent.content|lower }}</p>
                        </li>
                {% endif %}
                {% endfor %}
            </ul>
        </div>
        <!--Grid column-->
    </div>
</div>