{# galerie #}
<div id="galery">
	<div class="row divGalery">

		<!-- Button trigger modal 1 -->
		<button type="button" class="btn mt-4 m-3 modalBtn" data-toggle="modal" data-target="#intérieures">
			<h3 class="smallFontGalery">Rénovations intérieures</h3>
		    <img class="w-100 imgModalHeight" src="/img/interieur.jpg">
		</button>

		<!-- Button trigger modal 2 -->
		<button type="button" class="btn mt-4 m-3 modalBtn" data-toggle="modal" data-target="#terrassements">
			<h3 class="smallFontGalery"> Terrassement, fondation, nivelage...</h3>
		    <img class="w-100 imgModalHeight" src="/img/terrassement.jpg">
		</button>

		<!-- Button trigger modal 3 -->
		<button type="button" class="btn mt-4 m-3 modalBtn" data-toggle="modal" data-target="#sol">
			<h3 class="smallFontGalery">Sol (carrelage, pavage, chape. . .)</h3>
		    <img class="w-100 imgModalHeight" src="/img/sol.jpg">
		</button>

		<!-- Button trigger modal 4 -->
		<button type="button" class="btn mt-4 m-3 btnModalHeigth" data-toggle="modal" data-target="#maconnerie">
		    <h3 class="smallFontGalery">Maçonnerie</h3>
		    <img class="w-100 imgModalHeight" src="/img/escalierquarttournant.jpg">
		</button>

		<!-- Button trigger modal 5 -->
		<button type="button" class="btn mt-4 m-3 btnModalHeigth" data-toggle="modal" data-target="#cloture">
			<h3 class="smallFontGalery">Clôture brise vue</h3>
		    <img class="w-100 imgModalHeightCloture" src="/img/cloture.jpg">
		</button>

		<!-- Button trigger modal 6 -->
		<button type="button" class="btn mt-4 m-3 btnModalHeigth" data-toggle="modal" data-target="#divers">
			<h3 class="smallFontGalery">Réalisations diverses</h3>
		    <img class="w-100 imgModalHeight" src="/img/deco.jpg">
		</button>

	</div>
</div>

{# carousel renovations interieures #}
{% include 'carousel/carousel_renovations_interieures.html.twig' %}
{# carousel terassements #}
{% include 'carousel/carousel_terrassements.html.twig' %}
{# carousel sol #}
{% include 'carousel/carousel_sol.html.twig' %}
{# carousel maconnerie #}
{% include 'carousel/carousel_maconnerie.html.twig' %}
{# carousel cloture #}
{% include 'carousel/carousel_cloture.html.twig' %}
{# carousel réalisations diverses #}
{% include 'carousel/carousel_divers.html.twig' %}