{# <!-- SideNav slide-out button -->
<a href="#" data-activates="slide-out" class="btn btn-primary p-3 button-collapse"><i
    class="fas fa-bars"></i></a>
 #}
<!-- Sidebar navigation -->
<div id="slide-out" class="side-nav2 side">
  <!-- logout -->
  <a class="text-light ml-3" href="{{ path('app_logout') }}">Se déconnecter</a>
  <!-- Side navigation links -->
  <p class="mt-5" 
  ><a class="white-text ml-3 font-weight-bold"href="">Contenu statique</a></p>
  <p class="white-text ml-3 font-weight-bold">Image</p>
  <ul>
    <li class="mt-2 text-white"><a class="white-text font-weight-bold" href="">Rénovation intérieur</a></li>
    <li class="mt-2 text-white"><a class="white-text font-weight-bold" href="">Terrassement</a></li>
    <li class="mt-2 text-white"><a class="white-text font-weight-bold" href="">Sol</a></li>
    <li class="mt-2 text-white"><a class="white-text font-weight-bold" href="">Maçonnerie</a></li>
    <li class="mt-2 text-white"><a class="white-text font-weight-bold" href="">Divers</a></li>
    <!--/. Side navigation links -->
  </ul>
  <div class=""></div>
</div>
<!--/. Sidebar navigation -->
