
<nav class="navbar navbar-expand-lg navbar-dark myNav 
{# {{ app.session.flashbag.peek('success')|length > 0 ? '' : 'mb-5' }} #}
">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02"
    aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse d-flex justify-content-around" id="navbarTogglerDemo02">
        <a class="nav-link text-white smallFont" href="#">Accueil <span class="sr-only">(current)</span></a>
        <a class="nav-link text-white smallFont" href="#presentation">Qui suis-je ?</a>
        <a class="nav-link text-white smallFont" href="#galery">Réalisations</a>
        
        {% for StaticContent in StaticContents|slice(7) %}
          {% if StaticContent.content == "Oui" %}
            <a class="nav-link text-white smallFont" href="#contact">Contact</a>
          {% endif %}
        {% endfor %}

        <a class="nav-link text-white smallFont" href="#maps">Coordonnées</a>
  </div>
</nav>