{% extends 'admin.html.twig' %}

{% block javascripts %}
    <script src="{{ asset('js/images.js') }}"></script>
{% endblock %}

{% block title %}Edit Realisations{% endblock %}

{% block body %}
    <div class="container pl-0">

        <!--Header-->
        <div class="header peach-gradient mb-3">
            <div class="row d-flex justify-content-center">
                <h3 class="white-text mb-0 py-5 font-weight-bold">Modication d'image</h3>
            </div>
        </div>

	    {{ include('realisations/_form.html.twig', {'button_label': 'Valider'}) }}

	</div>
{% endblock %}
