{% extends 'admin.html.twig' %}

{% block title %}Edit StaticContent{% endblock %}

{% block body %}

	<div class="container pl-0 pt-5">
	    {{ include('static_content/_form.html.twig', {'button_label': 'Modifier'}) }}
    </div>
{% endblock %}
