/* mobile version */
@media screen and (max-width: 990px) {
  nav {
    display: none !important;
  }
  #presentation {
    height: 30em !important;
	background-color: #0862f1;
	padding-top: 20px;
  }

  .textPres2 {
	font-size: 35px !important;
  }

  #galery {
  	height: 84em !important;
	padding-top: 2em;
  }
}
/* fin mobile version */

/* Fonts */
.smallFont{
	font-family: 'Merienda One', cursive;
}

.smallFontGalery{
	font-family: 'Merienda One', cursive;
	font-size: 1.5rem;
}

.bigFont{
	font-family: 'Anton', sans-serif;
}
/* fin Fonts */

/* navBar */
.myNav{
	background-color: #0862f1;
	position: fixed;
	width: 100%;
	z-index:1000;
}
/* fin navBar */

/* admin.html.twig */
.heightDiv{
	height: 40em;
}
/* fin admin.html.twig */

/* base.html.twig */
body {
    background-color: white;
}

.flashSuccess{
	position: absolute;
	margin-top: 5em;
	margin-left: 33em;
}

.flashError{
	position: absolute;
	margin-top: 5em;
	margin-left: 26em;
}

.flashNotBlank{
	position: absolute;
	margin-top: 5em;
	margin-left: 24em;
}
/* fin base.html.twig */

/* homePage.html.twig */
.logo{
	height: 30em; 
	padding-top: 50px;
}
#presentation{
	height: 25em;
	background-color: #0862f1;
	padding-top: 20px;
}
.textPres{
    padding-top: 40px;
	padding-left: 8em;
    padding-right: 7em;
    text-align: center;
}
.textPres2{
	text-align: center;
    font-size: 30px;
    padding-top: 50px;
}
.tva{
    padding-top: 50px;
	padding-left: 225px;
    padding-right: 225px;
	padding-bottom: 50px;
    text-align: center;
}
/* fin homePage.html.twig */

/* maps.html.twig */
#maps{
	height: 21em; 
    margin-right: 0px;
    margin-left: 0px;
}

.mapsAlign{
	justify-content: space-between;
    margin: auto;
}

.info{
	width: 75%;
    margin-left: 40px;
}
/* fin maps.html.twig */

/* modal.html.twig */
#galery{
	height: 60em;
	padding-top: 2em;
}
.divGalery{
	justify-content: center;
	margin-right: 0px;
    margin-left: 0px;
}
.modalBtn{
	width: 30em;
	height: 27em
}
.imgModalHeight{
	max-height: 18em;
}
.imgModalHeightCloture{
	height: 18em;
}
.btnModalHeigth{
	width: 30em;
	height: 25em;
}
/* fin modal.html.twig */
/* contact.html.twig */
#contact{
	height: 36em; 
	background-color: #0862f1; 
	padding-top: 1em;
    margin-top: -8em;
}
.borderSubmit{
	border: solid 2px;
}
/* fin contact.html.twig */
/* footer.html.twig */
.bgColor{
	background-color: #0862f1;
}
/* fin footer.html.twig */

/* pages modals */
.heightModal{
	width: 50em;
	height: 35em;
	margin-left: -130px;
}

.cardStyle{
	width: 46em;
	height: auto;
}

.imgPaysage{
	max-height: 22em;
}

.imgPortrait{
	max-height: 23em;
	width: 40%;
	margin-left: 220px;
}

.hCard{
	width: 46em; 
	height: auto;
}
/* fin pages modals */
