<!-- Modal & carousel Rénovations intérieures -->
<div class="modal fade" id="intérieures" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
	    <div class="modal-content" style="width: 50em; height: 32em;">
	      
	        <div class="modal-header">
		        <h5 class="modal-title" id="exampleModalLabel">Rénovations Intérieures</h5>
		        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
		          	<span aria-hidden="true">&times;</span>
	        	</button>
			</div>
	        <div class="modal-body">

				<!--Carousel Rénovations intérieures -->
				<div id="multi-item-example" class="carousel slide carousel-multi-item carousel-multi-item-2" data-ride="carousel">

					<!--Controls-->
					<div class="controls-top" style="text-align: center;">
					    <a class="black-text" href="#multi-item-example" data-slide="prev"><i class="fas fa-angle-left fa-3x pr-3"></i></a>
					    <a class="black-text" href="#multi-item-example" data-slide="next"><i class="fas fa-angle-right fa-3x pl-3"></i></a>
					</div>
					<!--/.Controls-->

				    <!--Slides-->
				    <div class="carousel-inner" role="listbox">
				  	    <div class="carousel-item active">
						    <div class="col-md-3 mb-3">
						        <div class="card">
						            <img class="" style="width: 33em; height: auto;" src="img/logoban_1.png"
						            alt="Card image cap">
						        </div>
						    </div>
					    </div>
						
						{% for interieur in interieurs|reverse %}
							{% if interieur.images.toArray.0.name is defined %}
						    <div class="carousel-item">
							      <div class="col-md-3 mb-3">
							        <div class="card">
							          <img class="" style="width: 33em; height: auto;" src="uploads/{{ interieur.images.toArray.0.name }}"
							            alt="Card image cap">
							        </div>
							      </div>
						    </div>*
							{% endif %}
				    	{% endfor %}
				    </div>
				</div>
	        </div>
	    </div>
    </div>
</div>

