<!-- Modal & carousel sol-->
<div class="modal fade" id="sol" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel2" aria-hidden="true">
    <div class="modal-dialog" role="document">
	    <div class="modal-content heightModal">
	      
	        <div class="modal-header">
		        <h5 class="modal-title smallFont" id="exampleModalLabel2">Sol - carrelage - pavage - chape ...</h5>
		        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
		          	<span aria-hidden="true">&times;</span>
	        	</button>
			</div>
	        <div class="modal-body">

				<!--Carousel sol -->
				<div id="multi-item-example3" class="carousel slide carousel-multi-item carousel-multi-item-2" data-ride="carousel">

					<!--Controls-->
					<div class="controls-top text-center">
					    <a class="black-text" href="#multi-item-example3" data-slide="prev"><i class="fas fa-angle-left fa-3x pr-3"></i></a>
					    <a class="black-text" href="#multi-item-example3" data-slide="next"><i class="fas fa-angle-right fa-3x pl-3"></i></a>
					</div>
					<!--/.Controls-->

				    <!--Slides-->
				    <div class="carousel-inner" role="listbox">
				  	    <div class="carousel-item active">
						    <div class="col-md-3 mb-3">
						        <div class="card hCard">
						        	{% for sol in sols|reverse|slice(0, 1) %}
						            	<img class="w-100 imgHeight" src="uploads/{{ sol.images.toArray.0.name }}" alt="Card image cap">
						            {% endfor %}
						        </div>
						    </div>
					    </div>
						{% for sol in sols|reverse|slice(1) %}
							{% if sol.images.toArray.0.name is defined %}
						    <div class="carousel-item">
							      <div class="col-md-3 mb-3">
							        <div class="card hCard">
							          <img class="w-100 imgHeight" src="/uploads/{{ sol.images.toArray.0.name }}"
							            alt="Card image cap">
							        </div>
							      </div>
						    </div>
					    	{% endif %}
				    	{% endfor %}
				    </div>
				</div>
	        </div>
	    </div>
    </div>
</div>

