<!-- Modal & carousel Réalisations diverses -->
<div class="modal fade" id="divers" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel5" aria-hidden="true">
    <div class="modal-dialog" role="document">
	    <div class="modal-content" style="width: 50em; height: 32em; margin-left: -130px;">
	      
	        <div class="modal-header">
		        <h5 class="modal-title" id="exampleModalLabel5">Réalisations Diverses</h5>
		        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
		          	<span aria-hidden="true">&times;</span>
	        	</button>
			</div>
	        <div class="modal-body">

				<!--Carousel Réalisations Diverses -->
				<div id="multi-item-example5" class="carousel slide carousel-multi-item carousel-multi-item-2" data-ride="carousel">

					<!--Controls-->
					<div class="controls-top" style="text-align: center;">
					    <a class="black-text" href="#multi-item-example5" data-slide="prev"><i class="fas fa-angle-left fa-3x pr-3"></i></a>
					    <a class="black-text" href="#multi-item-example5" data-slide="next"><i class="fas fa-angle-right fa-3x pl-3"></i></a>
					</div>
					<!--/.Controls-->

				    <!--Slides-->
				    <div class="carousel-inner" role="listbox">
				  	    <div class="carousel-item active">
						    <div class="col-md-3 mb-3">
						        <div class="card" style="width: 46em; height: auto;">
						        	{% for divers in divers|reverse|slice(0, 1) %}
						            	<img style="width: 100%; max-height: 22em;" src="uploads/{{ divers.images.toArray.0.name }}" alt="Card image cap">
						            {% endfor %}
						        </div>
						    </div>
					    </div>
						
						{% for divers in divers|reverse|slice(1) %}
							{% if divers.images.toArray.0.name is defined %}
						    <div class="carousel-item">
							      <div class="col-md-3 mb-3">
							        <div class="card" style="width: 46em; height: auto;">
							          <img style="width: 100%; max-height: 22em;" src="uploads/{{ divers.images.toArray.0.name }}" alt="Card image cap">
							        </div>
							      </div>
				    		</div>
				    		{% endif %}
				    	{% endfor %}
				    </div>
				</div>
	        </div>
	    </div>
    </div>
</div>

